.grades {
  h1 {
    text-align: center;
  }

  p {
    padding: 0 20px;
  }

  table {
    width: 340px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    td {
      padding: 10px;
    }
  }

  .slide {
    background: white;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .glass {
    width: 80px;
    height: 100px;
    position: absolute;
    left: -webkit-calc(50% - 40px);
    left: -moz-calc(50% - 40px);
    left: calc(50% - 40px);
    margin-top: -14px;
    padding: 0;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,.5),
    inset 0 1px rgba(255,255,255,.3),
    inset 0 10px rgba(255,255,255,.2),
    inset 0 10px 20px rgba(255,255,255,.25),
    inset 0 -15px 30px rgba(0,0,0,.3);
  }
}