/* Imports */
/* Fonts */
@font-face {
  font-family: 'Blanch';
  src: url("fonts/blanch_condensed-webfont.eot");
  src: url("fonts/blanch_condensed-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/blanch_condensed-webfont.woff") format("font/x-woff"), url("fonts/blanch_condensed-webfont.ttf") format("truetype"), url("fonts/blanch_condensed-webfont.svg#blanchcondensed") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Arvil';
  src: url("fonts/arvil_sans-webfont.eot");
  src: url("fonts/arvil_sans-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/arvil_sans-webfont.woff") format("font/x-woff"), url("fonts/arvil_sans-webfont.ttf") format("truetype"), url("fonts/arvil_sans-webfont.svg#arvil_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Maven';
  src: url("fonts/mavenprolight-200-webfont.eot");
  src: url("fonts/mavenprolight-200-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/mavenprolight-200-webfont.woff") format("font/x-woff"), url("fonts/mavenprolight-200-webfont.ttf") format("truetype"), url("fonts/mavenprolight-200-webfont.svg#maven_pro_light200") format("svg");
  font-weight: normal;
  font-style: normal; }

.area {
  text-align: center; }
  .area h1 {
    margin-bottom: 0; }
  .area google-map {
    display: block;
    width: 100%;
    height: 150px;
    margin-bottom: 20px; }

.areaEdit h1 {
  text-align: center; }
.areaEdit form {
  width: 90%;
  display: block;
  margin: 0 auto; }

.areaadd form {
  width: 90%;
  display: block;
  margin: 0 auto; }

/* Colors */
/* Colors */
.home {
  text-align: center; }
  .home h1 {
    padding-left: 35px; }
  .home .forecast {
    cursor: default; }
  .home .temp {
    display: inline-block;
    color: #e3694e;
    font-size: 10em;
    font-family: 'Blanch'; }
  .home canvas {
    display: inline-block; }
  .home img {
    width: 132px; }

/* Colors */
.about h1 {
  text-align: center; }
.about p {
  padding: 0 20px; }
.about span {
  color: #1bc6b0; }
.about .fotos {
  margin: 0 auto;
  text-align: center; }
.about a {
  color: #1bc6b0;
  text-decoration: none;
  text-align: center;
  margin: 0 auto; }
  .about a img {
    width: 150px;
    height: 150px; }

.area-routes {
  text-align: center; }
  .area-routes h1 {
    margin-bottom: 0; }
  .area-routes input[type=search] {
    width: 314px; }
  .area-routes .center-cropped {
    width: 100%;
    display: block;
    background-position: center center;
    height: 150px; }

.grades h1 {
  text-align: center; }
.grades p {
  padding: 0 20px; }
.grades table {
  width: 340px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .grades table td {
    padding: 10px; }
.grades .slide {
  background: white;
  padding: 10px;
  overflow-x: scroll;
  overflow-y: hidden; }
.grades .glass {
  width: 80px;
  height: 95px;
  position: absolute;
  left: -webkit-calc(50% - 40px);
  left: -moz-calc(50% - 40px);
  left: calc(50% - 40px);
  margin-top: -110px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3); }

.route {
  text-align: center; }
  .route h1 {
    margin-bottom: 0; }
  .route .center-cropped {
    width: 100%;
    display: block;
    background-position: center center;
    height: 150px; }
  .route .comment {
    background: #FFF;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 95%;
    margin: 10px auto;
    display: block;
    text-align: left; }
    .route .comment h3 {
      border-bottom: 1px solid #ccc;
      margin: 0;
      padding: 5px; }
    .route .comment p {
      padding: 5px; }
  .route google-map {
    display: block;
    height: 200px; }

.routeadd h1 {
  text-align: center; }
.routeadd form {
  width: 90%;
  display: block;
  margin: 0 auto; }

.routeedit h1 {
  text-align: center; }
.routeedit form {
  width: 90%;
  display: block;
  margin: 0 auto; }

#open-right {
  text-decoration: none;
  font-size: 2em;
  color: #a0a0a0;
  padding-right: .3em;
  display: inline-block;
  padding-top: 5px; }
  #open-right a {
    margin-right: 10px; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > img, .swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative; }

.comments h1, .commentAdd h1 {
  text-align: center; }
.comments form, .commentAdd form {
  width: 90%;
  display: block;
  margin: 0 auto; }
.comments .comment, .commentAdd .comment {
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 95%;
  margin: 10px auto;
  display: block;
  text-align: left; }
  .comments .comment h3, .commentAdd .comment h3 {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 5px; }
    .comments .comment h3 span, .commentAdd .comment h3 span {
      margin-top: -3px; }
      .comments .comment h3 span a, .commentAdd .comment h3 span a {
        font-size: .6em; }
  .comments .comment p, .commentAdd .comment p {
    padding: 5px; }
.comments input[type="search"], .commentAdd input[type="search"] {
  width: 95%;
  margin: 0 auto;
  display: block; }

.register h1 {
  text-align: center; }
.register form {
  width: 90%;
  display: block;
  margin: 0 auto; }

.login h1 {
  text-align: center; }
.login form {
  width: 90%;
  display: block;
  margin: 0 auto; }

.commentedit h1 {
  text-align: center; }
.commentedit form {
  width: 90%;
  display: block;
  margin: 0 auto; }

body, h2, h3 {
  font-family: 'Maven';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

h1 {
  font-family: 'Arvil';
  font-size: 1.7em;
  color: #e3694e;
  margin-top: -1.8em;
  padding: 11px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

a.crud {
  color: #007aff; }

.filter {
  background: #ccc;
  padding: 5px 0; }
  .filter input[type="search"] {
    width: 60%; }

.content .list {
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  width: 95%;
  margin: 0 auto; }
  .content .list ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .content .list ul li {
      list-style: none;
      border-bottom: 1px solid #ccc;
      padding: 7px 5px;
      text-align: left; }
      .content .list ul li:last-child {
        border: none; }
    .content .list ul a {
      text-decoration: none;
      color: #a0a0a0; }
      .content .list ul a.crud {
        color: #007aff; }
    .content .list ul span {
      float: right;
      vertical-align: top;
      margin-top: -2px;
      padding: 2px 7px;
      color: white;
      border-radius: 15px;
      background: #1bc6b0; }
      .content .list ul span a {
        color: white; }

.heading .title {
  float: left; }
.heading .elements {
  margin-left: 110px; }
  .heading .elements li {
    cursor: pointer;
    padding: 5px;
    display: block;
    float: left;
    margin-left: 30px;
    border: 1px solid grey; }

.picture img {
  margin: auto;
  width: 100%; }

.viewblock {
  padding-top: 45px; }

.backarrow {
  font-size: 1.4em;
  padding-left: .3em;
  display: inline-block;
  padding-top: 12px; }
  .backarrow a {
    text-decoration: none; }
  .backarrow span {
    color: #a0a0a0; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none; }

.formEnd button, .formEnd p {
  display: inline-block; }
.formEnd p {
  margin-left: 5px; }
