<div class="about">
  <h1>About</h1>
  <p><span>Dynomite</span> is the social climbing app designed and coded by <a href="http://www.twitter.com/peecken">Pierre</a> and <a href="http://www.twitter.com/vdclouis">Louis</a>.</p>
  <p>This app is based on the <strong><a href="http://www.mongodb.org/">M.</a><a href="http://expressjs.com/">E.</a><a href="http://angularjs.org/">A.</a><a href="http://nodejs.org/">N</a></strong> stack.</p>
  
  <div class="fotos">
    <a href="http://www.twitter.com/vdclouis"><img draggable="false" src="../images/louis.png" alt="foto of louis" /></a>
    <a href="http://www.twitter.com/peecken"><img draggable="false" src="../images/pierre.png" alt="foto of pierre" /></a>
  </div>
  
  <p>Commissioned by the <a href="http://www.arteveldehs.be/">Artevelde University College Ghent.</a></p>
</div>