<div class="areaadd">
  <h1 class="text-center">Add area</h1>
  <form role="form" name='editArea'>
    <fieldset>

      <!-- name -->
      <div class="form-group" ng-class="{error: editArea.name.$invalid}">
        <label>Name</label>
        <input class="form-control" type="text" name="name" ng-model="area.name" required>
      </div>

      <!-- description -->
      <div class="form-group" ng-class="{error: editArea.description.$invalid}">
        <label>Description</label>
        <input class="form-control" type="text" name="description" ng-model="area.description" required>
      </div>

      <!-- coords -->
      <div class="form-group" ng-class="{error: editArea.coord.$invalid}">
        <label>Coordinates</label>
        <input type="text" class="form-control" name="lat" ng-model="area.lat" value={{lat}} required>
        <input type="text" class="form-control" name="lng" ng-model="area.lng" value={{lng}} required>
      </div>

      <!-- rating -->
      <div class="form-group" ng-class="{error: editArea.rating.$invalid}">
        <label>Rating</label>
        <input type="number" min="0" max="5" data-ng-model="area.rating" required>
      </div>

      <!-- file upload -->
      <div class="form-group" ng-class="{error: editArea.image.$invalid}">
        <button class="btn btn-default" ng-click="uploadFile()">upload img</button>
        <input class="form-control" name="image" type="url" ng-model="area.img">
      </div>

      <!-- buttons -->
      <br />
      <a href="/area" class="btn btn-default">Cancel</a>
      <button class="btn btn-primary" ng-click="save(); addMarker()" ng-disabled="isClean() || editArea.$invalid">Save</button>
      <button ng-click="destroy()" ng-show="area._id" class="btn btn-danger">Delete</button>
    </fieldset>
  </form>
</div>