<div class="grades">
  <h1>grades</h1>
  <div class="slide">
    <div class="glass"></div>
    <table>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <th>Font</th>
      <td>3</td>
      <td>4-</td>
      <td>4</td>
      <td>4+</td>
      <td>5</td>
      <td>5+</td>
      <td>6A</td>
      <td>6A+</td>
      <td>6B</td>
      <td>6B+</td>
      <td>6C</td>
      <td>6C+</td>
      <td>7A</td>
      <td>7A+</td>
      <td>7B</td>
      <td>7B+</td>
      <td>7C</td>
      <td>7C+</td>
      <td>8A</td>
      <td>8A+</td>
      <td>8B</td>
      <td>8B+</td>
      <td>8C</td>
      <td>8C+</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <th>Hueco</th>
      <td>VB</td>
      <td>V0-</td>
      <td>V0</td>
      <td>V0+</td>
      <td>V1</td>
      <td>V2</td>
      <td>V3</td>
      <td></td>
      <td>V4</td>
      <td></td>
      <td>V5</td>
      <td></td>
      <td>V6</td>
      <td>V7</td>
      <td>V8</td>
      <td></td>
      <td>V9</td>
      <td>V10</td>
      <td>V11</td>
      <td>V12</td>
      <td>V13</td>
      <td>V14</td>
      <td>V15</td>
      <td>V16</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  </div>
  <p>In Europe the Fontainebleau grading is the most widely used. The numerical system ranges from 1a to 8c+ (the equivalent of V16 or B16), but problems easier than 2b are rarely found.</p>
  <p>The "V" Scale, devised by John 'Vermin' Sherman at Hueco Tanks State Historic Site in the 1990s, is the most widely used system in North America. Although open-ended, the "V" system currently covers a range from V0 to V16.</p>
</div>