<div class="home">
  <h1>dynomite</h1>
  
  <!-- weather -->
  <div class="forecast">
    <div class="temp">
      {{weather.currently.temperature|number:0}}°
    </div>
    <canvas id="ico" width="140" height="140"></canvas>
  </div>
  <a href="/area"><img draggable="false" src="../images/logo.png" alt="Dynomite's logo" /></a>
  <ul class="nav">
    <p>{{globa}}</p>
    <p>{{global.authenticated}}</p>
    <li data-ng-repeat="item in menu" data-ng-show="global.user" data-ng-class="{active: isSelected(item)}"><a href="/{{item.link}}">{{item.title}}</a></li>
  </ul>
  <ul>
    <li>
      <a href="/logout">logout</a>
    </li>
    <li>
      <a href="/login">login</a>
    </li>
  </ul>
  <ul class="nav pull-right" data-ng-hide="global.authenticated">
    <p>not authenticated in view</p>
  </ul>
  <ul class="nav pull-right" data-ng-show="global.authenticated">
    <p>authenticated in view</p>
  </ul>
</div>