<div class="route-id">
  <h1>{{route.name}}</h1>

  <div id="slider" class="swipe" swipe="{auto: 3000, continuous: true}">
    <div class="swipe-wrap">
      <img ng-repeat="url in route.img" ng-src="{{ url }}" alt=""/>
    </div>
  </div>
  
  <p>description: {{ route.description }}</p>
  <div class="list">
    <ul>
      <li>difficulty: <span>{{route.grade}}</span></li>
      <li>rating: <span>{{route.rating}}/5</span></li>
      <li>type: <span>{{route.type}}</span></li>
    </ul>
  </div>

  <a class="crud" href="/route/edit/{{route._id}}">edit</a>
</div>