<div class="route-id">
  <h1>{{route.name}}</h1>

  <a href=""></a>
  <img class="center-cropped" style="background-image: url( {{ route.img }} ); background-repeat: no-repeat;">
  
  <p>description: {{ route.description }}</p>
  <div class="list">
    <ul>
      <li>difficulty: <span>{{route.grade}}</span></li>
      <li>rating: <span>{{route.rating}}/5</span></li>
      <li>type: <span>{{route.type}}</span></li>
    </ul>
  </div>

  
  <a class="crud" href="/route/pictures/{{route._id}}">pictures</a>
  <a class="crud" href="/route/edit/{{route._id}}">edit</a>
</div>