<div class="area-routes">
  <!-- title -->
  <h1>{{area.name}}</h1>
  
  <!-- filters 'n shit -->
  <div class="filter">
  <input type="search" results="" ng-model="search.name" placeholder="Search Routes" />
  <select ng-model="orderRoutes">
    <option value="name">Alphabetical</option>
    <option value="rating">Rating</option>
  </select>
  </div>
  
  <!-- slideshow -->
  <!-- <img class="center-cropped" style="background-image: url( {{ area.img }} ); background-repeat: no-repeat;"> -->
  <img class="center-cropped" ng-style="{'background-image': 'url(' + area.img + ')'}">
  
  <!-- titles -->
  <p>Description: {{area.description}}</p>
  
  <!-- list -->
  <div class="list">
    <ul>
      <li data-ng-repeat="route in routes | filter:search | orderBy:orderRoutes">
        <a href="/route/{{route._id}}">
          {{route.name}} - {{route.area.name}}
        </a>
        <a class="pull-right crud" href="/route/edit/{{route._id}}">edit</a></span>
      </li>
    </ul>
  </div>
  <a class="crud" ng-href="/area/edit/{{area._id}}">edit area</a>
  <a class="crud" ng-href="/route/add/{{area._id}}">add route</a>

</div>