svg {
    fill: white;
}

.clear-day {
    background: url(../img/Sun.svg) no-repeat;
}


.clear-night {
    background: url(../img/Moon-Full.svg) no-repeat;
}

.rain {
    background: url(../img/Cloud-Drizzle-Alt.svg) no-repeat;
}

.snow {
    background: url(../img/Cloud-Snow-Alt.svg) no-repeat;
}

.sleet {
    background: url(../img/Cloud-Hail-Alt.svg) no-repeat;
}

.wind {
    background: url(../img/Wind.svg) no-repeat;
}

.fog {
    background: url(../img/Cloud-Fog.svg) no-repeat;
}

.cloudy {
    background: url(../img/Cloud.svg) no-repeat;
}

.partly-cloudy-day {
    background: url(../img/SVG/Cloud-Sun.svg) no-repeat;
    background-size: 300px auto;
    background-position: 70px -50px;
    height: 200px;
}

.partly-cloudy-night {
    background: url(../img/Cloud-Moon.svg) no-repeat;
}