@import url(normalize.css);
/* line 4, main.scss */
.home {
  text-align: center; }

/* line 8, main.scss */
.area {
  text-align: center; }
  /* line 11, main.scss */
  .area .angular-leaflet-map {
    width: 100%;
    height: 150px;
    display: block; }

/* line 18, main.scss */
.area-map {
  text-align: center; }
  /* line 21, main.scss */
  .area-map .angular-leaflet-map {
    width: 100%;
    height: 640px;
    display: block; }
