<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dynomite</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="Integral Studios">
    <meta name="keywords" content="social, climbing, app, boulder, bouldering, integral, studios">
    <meta name="description" content="Social Climbing app for mobile devices">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link type="text/css" rel="stylesheet" href="/styles/main.css">
    <link type="text/css" rel="stylesheet" href="/styles/snap.css">
    <link type="text/css" rel="stylesheet" href="/styles/demo.css">
    <!-- endbuild -->
  </head>
  <script type="text/javascript">
    if(<%- user %>){window.user = <%- user %>;}
  </script>
  <body data-ng-controller="InitCtrl">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <nav class="snap-drawers">
      <div class="snap-drawer snap-drawer-left">
        <h3>Menu</h3>
        <ul>
          <li>
            <a ng-class="{active:isActive('/')}" href="/">Home</a>
          </li>
          <li>
            <a ng-class="{active:isActive('/area')}" href="/area">Explore</a>
          </li>
          <li>
            <a ng-class="{active:isActive('/grades')}" href="/grades">Grades</a>
          </li>
          <li>
            <a ng-class="{active:isActive('/about')}" href="/about">About</a>
          </li>
          <li class="separator"></li>
          <div data-ng-hide="global.authenticated">
            <li>
              <a ng-class="{active:isActive('/login')}" href="/login">Login</a>
            </li>
            <li>
              <a ng-class="{active:isActive('/register')}" href="/register">Register</a>
            </li>
          </div>
          <div data-ng-show="global.authenticated">
            <li ng-class="{active:isActive('/signin')}">
              <a class="pull-right" href="/user/edit/{{global.user.name}}">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
              <a href="/user/{{global.user.name}}">
                <span class="glyphicon glyphicon-user"></span>&nbsp;{{global.user.name}}
              </a>
            </li>
            <li>
              <a href="/logout">My routes</a>
            </li>
            <li>
              <a href="/logout">Logout</a>
            </li>
          </div>
        </ul>
      </div>
    </nav>
    <!-- Add your site or application content here -->
    <div id="snapper" class="content snap-content">
      <a href="" id="open-left">&#9776</a>
      <div data-ng-view=""></div>
    </div>
    <!-- Le Javascript -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-google-maps/src/angular-google-maps.js"></script>

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/Swipe/swipe.js"></script>
    <script src="//api.filepicker.io/v1/filepicker.js"></script>
    <script src="/bower_components/snapjs/snap.min.js"></script>
    <script src="/bower_components/skycons/skycons.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angulartics/src/angulartics.js"></script>
    <script src="/bower_components/angulartics/src/angulartics-google-analytics.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="/scripts/app.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/modules.js -->
    <script src="/scripts/controllers/init.js"></script>
    <script src="/scripts/controllers/home.js"></script>
    <script src="/scripts/controllers/default.js"></script>
    <script src="/scripts/controllers/area.js"></script>
    <script src="/scripts/controllers/areaAdd.js"></script>
    <script src="/scripts/controllers/areaEdit.js"></script>
    <script src="/scripts/controllers/routes.js"></script>
    <script src="/scripts/controllers/route.js"></script>
    <script src="/scripts/controllers/routeEdit.js"></script>
    <script src="/scripts/controllers/routeAdd.js"></script>
    <script src="/scripts/controllers/auth.js"></script>
    <script src="/scripts/controllers/users.js"></script>
    <script src="/scripts/controllers/user.js"></script>
    <script src="/scripts/controllers/commentAdd.js"></script>
    <script src="/scripts/controllers/comments.js"></script>
    <script src="/scripts/controllers/canvas.js"></script>
    <script src="/scripts/services/global.js"></script>
    <script src="/scripts/services/Weather.js"></script>
    <script src="/scripts/services/routeCache.js"></script>
    <script src="/scripts/services/users.js"></script>
    <script src="/scripts/filters/reverse.js"></script>
    <script src="/scripts/filters/underscore.js"></script>
    <script src="/scripts/directives/swipe.js"></script>
    <script src="/scripts/directives/auth.js"></script>
    <!-- endbuild -->
    <script src="/scripts/init.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43666800-1', 'dynomite.eu');
    </script>
  </body>
</html>
