<div class="about">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab fugit tempore quibusdam atque officiis alias. Animi, magnam, ut, earum aut eos delectus voluptate ducimus quisquam ipsam officiis cum tempore.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, dolore, nostrum, cupiditate laborum debitis aliquid reprehenderit delectus enim natus exercitationem explicabo maiores quam accusantium saepe repellendus temporibus voluptatum molestiae aspernatur.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, officia, impedit, quos, aperiam optio doloremque nulla quidem eius voluptates libero quisquam fugiat dolorum placeat repellendus porro autem distinctio beatae ullam.</p>
</div>