<div class="area">
  <!-- filter options -->
  <input type="search" results="" data-ng-model="search.name" />
  <select data-ng-model="orderAreas">
    <option value="name">Alphabetical</option>
    <option value="rating">Rating</option>
    <option value="routes">Routes</option>
  </select>
  
  <!-- title -->
  <h1>Areas</h1>
  
 <!--  map -->
    <google-map
      data-snap-ignore="true"
      center="center"
      draggable="true"
      zoom="zoom"
      markers="markers"
      fit="false"
      mark-click="false">
    </google-map>
  <!-- </a> -->
  
  <!-- list -->
  <div class="area-list">
    <ul>
      <li data-ng-repeat="area in areas | filter:search | orderBy:orderAreas">
        <a href="#/area/{{area.name}}">{{area.name}}</a>
        <a href="#/area/edit/{{area._id.$oid}}">- Edit</a>
      </li>
    </ul>
  </div>
  
  <a href="#/area/add">Add</a>
  
</div>