<div class="grades">
  <h1>grades</h1>
  <div class="slide">
    <div class="glass"></div>
    <table>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <th>Font</th>
      <td>3</td>
      <td>4-</td>
      <td>4</td>
      <td>4+</td>
      <td>5</td>
      <td>5+</td>
      <td>6A</td>
      <td>6A+</td>
      <td>6B</td>
      <td>6B+</td>
      <td>6C</td>
      <td>6C+</td>
      <td>7A</td>
      <td>7A+</td>
      <td>7B</td>
      <td>7B+</td>
      <td>7C</td>
      <td>7C+</td>
      <td>8A</td>
      <td>8A+</td>
      <td>8B</td>
      <td>8B+</td>
      <td>8C</td>
      <td>8C+</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <th>Hueco</th>
      <td>VB</td>
      <td>V0-</td>
      <td>V0</td>
      <td>V0+</td>
      <td>V1</td>
      <td>V2</td>
      <td>V3</td>
      <td></td>
      <td>V4</td>
      <td></td>
      <td>V5</td>
      <td></td>
      <td>V6</td>
      <td>V7</td>
      <td>V8</td>
      <td></td>
      <td>V9</td>
      <td>V10</td>
      <td>V11</td>
      <td>V12</td>
      <td>V13</td>
      <td>V14</td>
      <td>V15</td>
      <td>V16</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  </div>
</div>