<form class="pure-form pure-form-aligned" name='editRoute'>
  
  <!-- name -->
  <div class="control-group" ng-class="{error: editRoute.name.$invalid}">
    <label>Name</label>
    <input class="pure-input-1" type="text" name="name" ng-model="route.name" required>
    <span ng-show="editRoute.name.$error.required" class="help-inline">Required</span>
  </div>
  
  <!-- description -->
  <div class="control-group" ng-class="{error: editRoute.description.$invalid}">
    <label>Description</label>
    <input class="pure-input-1" type="text" name="description" ng-model="route.description" required>
    <span ng-show="editRoute.description.$error.required" class="help-inline">Required</span>
  </div>
  
  <!-- type -->
  <div class="control-group" ng-class="{error: editRoute.type.$invalid}">
    <label>Type</label>
    <input class="pure-input-1" type="text" name="type" ng-model="route.type" required>
    <span ng-show="editRoute.type.$error.required" class="help-inline">Required</span>
  </div>
  
  <!-- areaName -->
  <div class="control-group" ng-class="{error: editRoute.areaname.$invalid}">
    <label>Area name</label>
    <select type="text" name="areaname" ng-model="route.areaName" ng-options="a.name as a.name for a in areas"></select>
    <span ng-show="editRoute.areaname.$error.required" class="help-inline">Required</span>
  </div>
  
  <!-- rating -->
  <div class="control-group" ng-class="{error: editRoute.rating.$invalid}">
    <label>Rating</label>
    <input type="number" min="0" max="5" name="rating" ng-model="route.rating" required>
    <span ng-show="editRoute.rating.$error.required" class="help-inline">Required</span>
    <span ng-show="editRoute.rating.$error.number" class="help-inline">Not a number</span>
  </div>
  
  <!-- grade -->
  <div class="control-group" ng-class="{error: editRoute.grade.$invalid}">
    <label>Grade</label>
    <input class="pure-input-1" type="text" name="grade" ng-model="route.grade" required>
    <span ng-show="editRoute.grade.$error.required" class="help-inline">Required</span>
  </div>
  
  <!-- img -->
  <div class="control-group" ng-class="{error: editRoute.image.$invalid}">
    <button class="pure-button" ng-click="uploadFile()">upload img</button>
    <input class="pure-input-1" type="url" name="image" ng-model="route.img" required>
    <span ng-show="editRoute.image.$error.required" class="help-inline">Required</span>
    <span ng-show="editRoute.image.$error.url" class="help-inline">Not a  URL</span>
  </div>

  <br />
  <a href="#/area" class="btn pure-button pure-button-active">Cancel</a>
  <button ng-click="save()" ng-disabled="isClean() || editRoute.$invalid" class="btn btn-primary pure-button pure-button-active">Save</button>
  <button ng-click="destroy()" ng-show="route._id" class="btn btn-danger pure-button pure-button-active">Delete</button>
  
</form>
