<form name='editRoute'>
  
  <!-- name -->
  <div class="control-group" ng-class="{error: editRoute.name.$invalid}">
    <label>Name</label>
    <input type="text" name="name" ng-model="route.name" required>
    <span ng-show="editRoute.name.$error.required" class="help-inline">Required</span>
  </div>
  
  <!-- rating -->
  <div class="control-group" ng-class="{error: editRoute.rating.$invalid}">
    <label>Rating</label>
    <input type="number" min="0" max="5" name="rating" ng-model="route.rating" required>
    <span ng-show="editRoute.rating.$error.required" class="help-inline">Required</span>
    <span ng-show="editRoute.rating.$error.number" class="help-inline">Not a number</span>
  </div>
  
  <!-- areaName -->
  <div class="control-group" ng-class="{error: editRoute.areaname.$invalid}">
    <label>Area name</label>
    <select name="areaname" ng-model="route.areaName" ng-options="area.name for area in areas" ng-selected="{{areaName}}" required>
      <!-- <select ng-model="route.areaName"> -->
      <option value="{{area.name}}" data-ng-repeat="area in areas" ng-selected="route.areaName">{{area.name}}</option>
    </select>
    <span ng-show="editRoute.areaname.$error.required" class="help-inline">Required</span>
  </div>

  <br />
  <a href="#/area" class="btn">Cancel</a>
  <button ng-click="save()" ng-disabled="isClean() || editRoute.$invalid" class="btn btn-primary">Save</button>
  <button ng-click="destroy()" ng-show="route._id" class="btn btn-danger">Delete</button>
  
</form>
