<form class="signup">
  <label for="name">full name</label>
  <input type="text" id="name" placeholder="Full name" ng-model="user.name">

  <label for="email">email</label>
  <input type="text" id="email" placeholder="email" ng-model="user.email">

  <label for="username">username</label>
  <input type="text" id="username" placeholder="username" ng-model="user.username">

  <label for="password">password</label>
  <input type="text" id="password" placeholder="password" ng-model="user.password">

  <button type="submit" data-ng-click="save()">register</button>
</form>