<div class="routeadd">
  <h1>Add Route - {{ route.name }}</h1>

  <form name='editRoute'>

    <!-- name -->
    <div class="form-group" ng-class="{error: editRoute.name.$invalid}">
      <label>Name</label>
      <input class="form-control" type="text" name="name" ng-model="route.name" required>
      <div ng-show="error.error" class="alert alert-danger">{{ error.error }}</div>
    </div>

    <!-- description -->
    <div class="form-group" ng-class="{error: editRoute.description.$invalid}">
      <label>Description</label>
      <input class="form-control" type="text" name="description" ng-model="route.description" required>
    </div>

    <!-- type -->
    <div class="form-group" ng-class="{error: editRoute.type.$invalid}">
      <label>Type</label>
      <input class="form-control" type="text" name="type" ng-model="route.type" required>
    </div>

    <!-- areaName hidden from user -->
    <div style="display: none" class="form-group" ng-class="{error: editRoute.areaId.$invalid}">
      <label>Area name</label>
      <input type="text" name="areaId" ng-model="route.area" value="{{ route.area }}">
    </div>

    <!-- Coordinates -->
    <div class="form-group">
      <label>Coordinates</label>
      <input class="form-control" type="text" required ng-model="hack.lat"/>
      <input class="form-control" type="text" required ng-model="hack.lng"/>
    </div>

    <!-- rating -->
    <div class="form-group" ng-class="{error: editRoute.rating.$invalid}">
      <label>Rating</label>
      <input type="number" min="0" max="5" name="rating" ng-model="route.rating" required>
    </div>

    <!-- grade -->
    <div class="form-group" ng-class="{error: editRoute.grade.$invalid}">
      <label>Grade</label>
      <input class="form-control" type="text" name="grade" ng-model="route.grade" required>
    </div>

    <!-- img -->
    <div class="form-group" ng-class="{error: editRoute.image.$invalid}">
      <button class="btn btn-default" ng-click="uploadFile()">upload img</button>
      <input class="form-control" placeholder="image url" name="image" type="url" ng-model="route.img" required>
    </div>

    <br />
    <a href="/area" class="btn btn-default">Cancel</a>
    <button ng-click="save()" ng-disabled="editRoute.$invalid" class="btn btn-primary">Save</button>
    <button ng-click="destroy()" ng-show="route._id" class="btn btn-danger">Delete</button>

  </form>

</div>