<div class="route">
  <h1>{{route.name}}</h1>

  <div id="slider" class="swipe" swipe="{auto: 3000, continuous: true}">
    <div class="swipe-wrap">
      <img ng-repeat="url in route.img" ng-src="{{ url }}" alt=""/>
    </div>
  </div>
  
  <h2>description</h2>
  <p>{{ route.description }}</p>
  <a class="crud" href="/route/edit/{{ route._id }}" data-access-level="accessLevels.admin">edit route</a>

  <div class="list">
    <ul>
      <li>Difficulty: <span>{{route.grade}}</span></li>
      <li>Rating: <span>{{route.rating}}/5</span></li>
      <li>Type: <span>{{route.type}}</span></li>
      <li ng-show="comments.length > 1">Comments: <span><a href="/route/comments/{{ route._id }}">{{ comments.length }}</a></span></li>
      <li ng-show="comments.length == 1">Comment: <span><a href="/route/comments/{{ route._id }}">{{ comments.length }}</a></span></li>
    </ul>
  </div>

  {{ route.lat }}
  {{ route.lng }}

  <h2>Map</h2>
  <google-map
    center="center"
    draggable="true"
    zoom="zoom"
    markers="markers"
    fit="false"
    mark-click="false">
  </google-map>

  <a class="crud" href="/comment/add/{{ route._id }}" data-access-level="accessLevels.user">add comment</a>

  <div ng-show="comments.length">
    <h2>Latest comments:</h2>
    <div class="comments">
      <div class="comment" ng-repeat="comment in comments | limitTo:3 | orderBy:title">
        <h3>{{ comment.title }} <span class="pull-right crud"><a href="/comment/edit/{{ comment._id }}">edit</a></span></h3>
        <p>"{{ comment.content }}" <br/>&mdash;{{ comment.user.name }} on {{ comment.created | date:'yyyy-MM-dd @ h:mma' }}</p>
      </div>
    </div>
  </div>
</div>