<div class="user">
  <h1>User {{user.username}}</h1>
  <div class="list">
    <ul>
      <li>Username <span>{{user.name}}</span></li>
      <li>Areas <span>{{ areas.length }}</span></li>
      <li>Routes <span>{{ routes.length }}</span></li>
    </ul>
  </div>
</div>
<p>Areas:</p>
<div class="list">
  <ul>
    <li ng-show="areas.length" data-ng-repeat="area in areas">
      <a href="/area/{{area._id}}">{{area.name}}</a>
      <a data-access-level="accessLevels.admin" class="pull-right crud" href="/area/edit/{{area._id}}">edit</a></span>
    </li>
    <li ng-hide="areas.length">
      <a href="">no areas</a>
    </li>
  </ul>
</div>
<p>Routes:</p>
<div class="list">
  <ul>
    <li ng-show="routes.length" data-ng-repeat="route in routes">
      <a href="/route/{{route._id}}">{{route.name}}</a>
      <a data-access-level="accessLevels.admin" class="pull-right crud" href="/route/edit/{{route._id}}">edit</a></span>
    </li>
    <li ng-hide="routes.length">
      <a href="">no routes</a>
    </li>
  </ul>
</div>